@{
    ViewData["Title"] = "Home Page";
}

<link href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-lg-8 activity p-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent p-0">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Sữa rửa mặt</a></li>
                </ol>
                <div>
                    <p style="font-family:'Matura MT Script Capitals'">Chuyên mục -ReviewBeauty</p>
                </div>
            </nav>
            <div class="panel panel-default mb-3 bg-white p-2 rounded-3">
                <div class="panel-heading">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-rounded">
                    <div class="pull-right text-right">
                        <div class="dropdown">
                            @*<div class="card-text" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></div>*@
                            <button class="btn btn-secondary bg-transparent text-dark border-0" type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu" style="margin-left: -155px;">
                                <a class="dropdown-item" href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Chỉnh sửa bài viết</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-trash" aria-hidden="true"></i> Xóa bài</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-window-close" aria-hidden="true"></i> Ẩn bài viết</a>
                            </div>
                        </div>
                    </div>
                    <div><strong>John Doe</strong></div>
                </div>
                <div class="panel-body">
                    <img src="https://www.bootdey.com/image/500x333" class="img-responsive">
                    <div class="card-body">
                        <a href="#" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</a>
                    </div>
                    <div class="actions">
                        <div class="btn-group">
                            <button type="button" class="btn btn-link"><i class="fa fa-thumbs-o-up"></i> Like</button>
                            <button type="button" class="btn btn-link"><i class="fa fa-comments"></i> Comment</button>
                        </div>
                        <div class="pull-right"><strong>1.789</strong> People View this</div>
                    </div>

                </div>
            </div>
            <div class="panel panel-default mb-3 bg-white p-2 rounded-3">
                <div class="panel-heading">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-rounded">
                    <div class="pull-right text-right">
                        <div class="dropdown">
                            @*<div class="card-text" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></div>*@
                            <button class="btn btn-secondary bg-transparent text-dark border-0" type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu" style="margin-left: -155px;">
                                <a class="dropdown-item" href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Chỉnh sửa bài viết</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-trash" aria-hidden="true"></i> Xóa bài</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-window-close" aria-hidden="true"></i> Ẩn bài viết</a>
                            </div>
                        </div>
                    </div>
                    <div><strong>John Doe</strong></div>
                </div>
                <div class="panel-body">
                    <img src="https://www.bootdey.com/image/500x333" class="img-responsive">
                    <div class="card-body">
                        <a href="#" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</a>
                    </div>
                    <div class="actions">
                        <div class="btn-group">
                            <button type="button" class="btn btn-link"><i class="fa fa-thumbs-o-up"></i> Like</button>
                            <button type="button" class="btn btn-link"><i class="fa fa-comments"></i> Comment</button>
                        </div>
                        <div class="pull-right"><strong>1.789</strong> People View this</div>
                    </div>

                </div>
            </div>
            <div class="panel panel-default mb-3 bg-white p-2 rounded-3">
                <div class="panel-heading">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-rounded">
                    <div class="pull-right text-right">
                        <div class="dropdown">
                            @*<div class="card-text" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></div>*@
                            <button class="btn btn-secondary bg-transparent text-dark border-0" type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu" style="margin-left: -155px;">
                                <a class="dropdown-item" href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Chỉnh sửa bài viết</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-trash" aria-hidden="true"></i> Xóa bài</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-window-close" aria-hidden="true"></i> Ẩn bài viết</a>
                            </div>
                        </div>
                    </div>
                    <div><strong>John Doe</strong></div>
                </div>
                <div class="panel-body">
                    <img src="https://www.bootdey.com/image/500x333" class="img-responsive">
                    <div class="card-body">
                        <a href="#" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</a>
                    </div>
                    <div class="actions">
                        <div class="btn-group">
                            <button type="button" class="btn btn-link"><i class="fa fa-thumbs-o-up"></i> Like</button>
                            <button type="button" class="btn btn-link"><i class="fa fa-comments"></i> Comment</button>
                        </div>
                        <div class="pull-right"><strong>1.789</strong> People View this</div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3 border-0">
                <div class="card-header bg-primary text-white pt-2 pb-1">
                    <h5>Tin mới</h5>
                </div>
                <div class="card border-0 mt-2">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/img/service-1.jpg" class="card-img-top" alt="Hình ảnh">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-0 pl-2">
                                <div class="card-title">Thông báo: Đăng tin quảng bá sản phẩm/Dịch vụ tại Biztech Việt Nam 2023</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-0 mt-2">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/img/service-1.jpg" class="card-img-top" alt="Hình ảnh">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-0 pl-2">
                                <div class="card-title">Thông báo: Đăng tin quảng bá sản phẩm/Dịch vụ tại Biztech Việt Nam 2023</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-0 mt-2">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/img/service-1.jpg" class="card-img-top" alt="Hình ảnh">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-0 pl-2">
                                <div class="card-title">Thông báo: Đăng tin quảng bá sản phẩm/Dịch vụ tại Biztech Việt Nam 2023</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-0 mt-2">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/img/service-1.jpg" class="card-img-top" alt="Hình ảnh">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-0 pl-2">
                                <div class="card-title">Thông báo: Đăng tin quảng bá sản phẩm/Dịch vụ tại Biztech Việt Nam 2023</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       @* <div class="col-lg-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Home
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#">Thực phẩm chức năng</a></li>
                    <li class="list-group-item"><a href="#">Đồ trang điểm</a></li>
                    <li class="list-group-item"><a href="#">Kem chống nắng</a></li>
                </ul>
            </div>
        </div>*@
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8 activity p-2">
            <nav aria-label="Page navigation">

                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>

            </nav>
        </div>
    </div>
</div>